@media screen and (max-width: 600px) {

    .firstsection{
        height: 520px;
    }

    .firstsection-leftdiv{
        width: 60%;
    }
    .firstsection-righttdiv{
        width: 40%;
    }
    .link-holder{
        flex-direction: column;
        padding-left: 40px;
    }
    .link-holder h4 {
        margin-bottom: 20px;
    }
.heading{
    font-size: 25px;
}
.firstsection-leftdiv p{
    font-size: 16px;
}
.line {
    width: 200px;
}


.secondsection-rightdiv{
    margin-left: 0;
    margin-top: 30px;
}

.thirdsection{
    flex-direction: column-reverse;
    background: var(--gray-color);
}

/* footer starts here  */
footer{
    flex-direction: column;
    padding: 10px 30px;
    text-align: center;
}
/* footer stops here */
}

