/* ==== Common Fix starts here==== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
} body{
        font-family: 'Inter', sans-serif;
    }
/* ==== Common Fix ends here==== */

.wordinleft{
    text-align: justify;
}

img{
    width: 100%;
    height: 100%;
}

/* ===== First section starts here===== */
.firstsection{
    height: 460px;
    border: 3px solid grey;
    display: flex;
}
.firstsection-leftdiv{padding: 20px;
    width: 50%;
    height: 100%;
    background-color: var(--gray-color);
}
.firstsection-righttdiv{
    width: 50%;
    height: 100%;
    background: var(--linear-gradient), url(./images/image1.jpg) ;
    background-size: cover;
    background-position: bottom left;
}
/* ===== First section starts here===== */

span {
    color: goldenrod;
}
.logotext{
    margin-bottom: 15px;
}
.heading{
    margin-bottom: 15px;
}

.line{
    height: 16px;
    background: goldenrod;
    width: 224px;
}

.firstsection-leftdiv p{
    margin-bottom: 25px;
}

.link-holder{
    /* border: 3px solid purple; */
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
/* second division starts here Insha Allah   */

.secondsection{
    /* height: 500px; */
    /* border: 3px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

.secondsection-leftdiv{
    height: 400px;
    width: 310px;
    /* border: 3px solid black; */
    background: var(--gray-color);
    padding: 40px 25px;
}

.secondsection-leftdiv h4{
    margin-bottom: 25px;
    text-align: center;
}
.secondsection-leftdiv p{
    margin-bottom: 25px;
    text-align: justify;
}
.secondsection-rightdiv{
    height: 450px;
    width: 340px;
    /* border: 3px solid purple; */
    margin-left: 20px;
}

/* second division ends here insha Allah  */

/* Third session starts here Insha Allah */

.thirdsection{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.thirdsection-leftdiv{
    height: 460px;
    width: 320px;
    /* border: 3px solid tomato; */
    background: url("./images/image3.jpg");
    background-size: cover;
    margin-top: 30px;
}

.thirdsection-rightdiv{
    height: 460px;
    width: 320px;
    /* border: 3px solid blue; */
    padding: 50px 25px;
    background: var(--main-color);
}

.thirdsection-rightdiv p{
    margin-bottom: 25px;
    text-align: justify;
}
/* Third session ends here Insha Allah */

/* footer starts here */
footer{
    /* border: 3px solid black; */
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    color: var(--white-color);
}

.footericons-container{
    /* border: 3px solid red; */
    width: 200px;
    font-size: 22px;
}

.footer-icon{
    margin: 0 5px;
}
/* footer stops here */

/* safety measures starts here */
.firstsection, .secondsection, .thirdsection, footer{
    max-width: 1500px;
    margin: 0 auto;
}
/* safety measures stopss here */